@import url('https://fonts.googleapis.com/css?family=Poppins');
html {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 20px;
}

nav .left-title {
  color: #A7D86D;
  font-size: 90px;
  font-weight: bold;
  height: 110px;
}

nav .slogan {
  font-size: 30px;
  color: #65617D;
  margin: 0;
  margin-left: 20px;
}

nav .profile-wrapper {
  margin-left: auto;
  display: flex;
  height: 60px;
}

nav .profile-name {
  color: #65617D;
  font-size: 20px;
  margin-right: 20px;
}

.hidden {
  opacity: 0;
  transform: scale(0);
  animation: opacity 0.2s ease-out;
}

.content {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.jobz {
  color: #A7D86D;
  font-family: Poppins;
  font-size: 200px;
  font-weight: bold;
  line-height: 200px;
  text-align: center;
}

.one-step-ahead {
  color: #65617D;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.welcome-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-link {
  margin: 20px 0;
  outline: none;
  border: none;
  height: 44px;
  width: 579px;
  border-radius: 7px;
  padding-left: 14px;
  box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.32), -1px 2px 9px 0 rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.login {
  cursor: pointer;
  border-radius: 3px;
  border: none;
  box-shadow: 2px 2px 8px #e4e4e4;
  min-height: 44px;
  width: 231px;
  background-color: #73C700;
  width: 231px;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -0.41px;
  text-align: center;
}

.dream-jobs {
  padding-left: 20%;
  font-size: 20px;
  color: #9B9B9B;
  font-weight: normal;
}